@import '/src/theme-bootstrap/qover-variables.scss';

.CoverOption {
  height: 100vh;
  background-image: url('../../../public/img/background-travel.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  .switch {
    display: inline-block;
    padding: 5px;
    input {
      width: 50px;
      height: 30px;
      margin: 0 10px;
      padding: 4px 4px 4px 24px;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  .link {
    color: $qover-cyan;
    text-align: center;
  }
}
.CoverDetails {
  text-align: center;
  .Button {
    width: 80%;
  }
  &.selected {
    background-color: $qover-cyan;
    color: white;
    .item {
      background-color: $qover-cyan;
      color: white;
    }
    .Button {
      background-color: white;
      color: $qover-cyan;
      border-color: $qover-cyan;
    }
  }
  &.notSelected {
    .price {
      color: $qover-cyan;
    }
    .Button {
      background-color: $qover-cyan;
      color: white;
      border-color: $qover-cyan;
    }
  }
  .title{
    font-weight: bold;
    font-size: 18px;
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.CoverRequest {
  background-image: linear-gradient(122deg, #317bda -6%, #33c3c8);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  padding-top: 50px;
  .card {
    border-radius: 0px;
    margin: auto;
    width: 80vh;
    max-width: 600px;
  }
}